<div id="top"></div>
<main class="jumbotron-container" id="jumbotron-anchor">
  <div id="headline">
    <h1>"Ideas are <span class="green">tangible</span>, challenges are <span class="green">opportunities</span>, success takes <span class="green">synthesis</span>."</h1>
    <br>
    <!-- <nav><div class="center"><a href="#contact-anchor", id="cta">Let's Get Started</a></div></nav> -->
  </div><!-- Tagline -->
</main> <!-- Homepage Image Container -->

<div id="service-nav"></div>
<div id="service-nav-container">
  <ul>
    <li class="active" id="1a">Corporate & Project Finance</li>
    <li id="2a">Business Strategy</li>
    <li id="3a">Start-up Advisory Services | Start™</li>
  </ul>
</div>


<main class="services-container" id="services-anchor">
  <div id="services-header">
    <%= image_tag "synthesis-logo.png", alt: "Synthesis Advisory Services, Ltd. Nairobi, Kenya", id: "services" %>
    <h1>Services</h1>
  </div>
  <!-- Corporate & Project Finance -->
  <section class="services-section" id="sec-corp">
    <div class="service-description-container">
      <h2><%= icon('pie-chart', '', class: "green") %> Corporate & Project Finance</h2>
      <br>
      <p>Whether you are choosing between mutually exclusive opportunities, evaluating the likelihood of real options, modelling scenarios for project sequencing or simply assessing the value of your business, we can work for you.
        <br><br>
      With independence and objectivity we support you in arriving at the most reasonable valuations and making the most justifiable resource allocation decisions. We create value by helping you understand value and earn our returns when you understand yours. </p>
      <br><br><br>
    </div> <!-- Description Container -->
    <div class="service-highlights-container clear">
      <h3>Service Highlights</h3>
      <ul>
        <%= icon('check-square','', class: 'green') %><li>Financial Feasibility, Analysis & Modelling</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Financial Model Audit</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Business Valuation</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Project Appraisal and Valuation</li>
      </ul> <!-- Service Highlight List  -->
    </div> <!-- Service Highlight Box -->
  </section><!-- Service Section #1 -->

  <!-- Business Strategy -->
  <section class="services-section hide" id="sec-business">
    <div class="service-description-container">
      <h2><%= icon('line-chart', '', class: "green") %> Business Strategy</h2>
      <br>
      <p>Where are we now? Where do we want to be? Why do we want to be there? How do we get there? No matter how frequently or clearly these questions have already been answered, a business must continuously reassess its strategy and to do so, truly understand its drivers -- historical, current and future.
        <br><br>
      With a strong emphasis on analytical and quantitative business intelligence we are here to support your decision making and planning and implementation of the strategy most suitable for your business.</p>
      <br><br>
    </div> <!-- Description Container -->
    <div class="service-highlights-container clear">
      <h3>Service Highlights</h3>
      <ul>
        <%= icon('check-square','', class: 'green') %><li>Sectorial Research</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Business Intelligence</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Strategic Planning & Advisory</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Business Development Advisory</li>
      </ul> <!-- Service Highlight List  -->
    </div> <!-- Service Highlight Box -->
  </section><!-- Service Section #2 -->

  <!-- Start-up Advisory Services-->
  <section class="services-section hide" id="sec-startup">
    <div class="service-description-container">
      <h2><%= icon('paper-plane', '', class: "green") %> Start-up Advisory Services | Start™</h2>
      <br>
      <p>Whether you are a serial entrepreneur or a first-timer, whoever you you are, we can all use some support when building a business. Leveraging our strategic, financial and operational expertise, we are here to walk with you through your entrepreneurial journey.<br><br>
      From the light bulb over your head, to that first profit; from the n<sup>th</sup> draft of your business plan, to your IPO. And we will be here to do it all over again, as you build your next dream.</p>
      <br><br>
    </div> <!-- Description Container -->
    <div class="service-highlights-container clear">
      <h3>Service Highlights</h3>
      <ul>
        <%= icon('check-square','', class: 'green') %><li>Strategic Opportunity Evaluation</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Administrative & Regulatory Advisory</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Strategic, Financial & Operational Advisory</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Business Valuation</li>
      </ul> <!-- Service Highlight List  -->
    </div> <!-- Service Highlight Box -->
  </section><!-- Service Section #3 -->
    <div class="service-navi-container">
      <div class="nav-button" id="corporate">1</div><div class="nav-button", id="business">2</div><div class="nav-button", id="startup">3</div>
    </div> <!-- Service Toggle Buttons Container -->
</main> <!-- Main Content for Services Wrapper -->

<!-- Staff -->
<!-- <div id="about-anchor"></div> -->
<main class="about-background" id="about-anchor">
  <section id="about-container">
    <div id="staff-header">
      <%= image_tag "synthesis-logo.png", alt: "Synthesis Advisory Services, Ltd. Nairobi, Kenya" %>
      <h1>About Us</h1>
      <p>As SAS, we believe that ideas are tangible, challenges are opportunities and success takes a synthesis of understanding, expertise and passion to help you evaluate your opportunities, make the right decisions, determine the most appropriate strategies and execute-- Building your future, today.</p>
    </div>
    <br>
    <div id="staff-header-body">
      <h2 id="understanding" class="green">Understanding</h2>
      <h2>/</h2>
      <h2 id="expertise">Expertise</h2>
      <h2>/</h2>
      <h2 id="passion">Passion</h2>
    </div>
    <br><br><br>
    <div class="arrow_box_1" id="arrowbox2">
      <h3>"We listen, ask questions and listen some more"</h3>
    </div>
    <div class="arrow_box_2 hide" id="arrowbox3">
      <h3>"We combine your expertise with our own expertise, understanding and passion; to support decision making, create solutions, and build businesses."</h3>
    </div>
    <div class="arrow_box_3 hide" id="arrowbox1">
      <h3>"We love what we do and are driven to succeed."</h3>
    </div>

    <div class="employee">
      <%= image_tag 'LamusiaAnzaya.jpg', alt: "Lamusia Anzaya, Founder & Lead Consultant", style: "float: left" %>
      <h2>Lamusia Anzaya</h2>
      <h3>Founder & Lead Consultant</h3>
      <br>
      <span class="quote"><%= icon('quote-left','', class: 'green') %> To enable others to succeed is not only a great accomplishment but a great honour. <%= icon('quote-right','', class: 'green') %></span>
      <br><br>
      <p>Lamusia Anzaya, is the Founder and Lead Consultant at Synthesis Advisory Services. Lamusia has professional and academic exposure within the South-Pacific, European and African markets and experience initiating and supporting the growth of businesses across the consumer goods and services sectors. Lamusia has completed Level II of the Chartered Financial Analyst CFA® Program and holds a degree in Operations & Management from the Hong Kong University of Science and Technology. Lamusia’s personal mission is “To be an enabler for those building Africa's future”
        <br><br>
        <a href="mailto:lanzaya@synthesisadvisory.com" style="color: #00a663; text-decoration: none;">lanzaya@synthesisadvisory.com</a>
      </p>
    </div><!-- Lamusia Anzaya -->
  </section><!-- Wraps the Clients Content -->
</main><!-- Main Content for About -->

<!-- Clients -->
<!-- <div id="clients-anchor"></div> -->
<main class="clients-background" id="clients-anchor">
  <section id="clients-container">
    <h1>Our Clients</h1>
    <h2><%= icon('angle-double-down', '', class: "green") %></h2>
    <br><br>
    <div id="clientbox-container">
      <div class="clientbox">
        <%= image_tag "reach-logistics.png", alt: "Reach Logistics" %>
        <a href="http://www.reachlogistic.com/solutions/" target="_blank">
          <span class="client-content">
            <h3>Reach Logistics</h3>
            <ul>
              <li><%= icon('check','') %> Strategic Opportunity Evaluation</li>
              <li><%= icon('check','') %> Business & Strategic Planning</li>
              <li><%= icon('check','') %> Financial Analysis, Modelling & Forecasting</li>
              <li><%= icon('check','') %> Strategic, Financial, & Operational Advisory</li>
            </ul>
          </span>
        </a>
      </div>
      <div class="clientbox">
        <%= image_tag "kfc.png", alt: "KFC East Africa" %>
          <span class="client-content">
            <h3>KFC Franchisee East Africa</h3>
            <ul>
              <li><%= icon('check','') %> Business & Strategic Planning</li>
              <li><%= icon('check','') %> Financial Analysis, Modelling & Forecasting</li>
              <li><%= icon('check','') %> Business Valuation</li>
            </ul>
          </span>
      </div>
      <div class="clientbox">
        <%= image_tag "sis.png", alt: "SIS Project Management" %>
        <a href="http://sis.co.ke/default.asp" target="_blank">
          <span class="client-content">
            <h3>Synthesis Integrated Services</h3>
            <ul>
              <li><%= icon('check','') %> Financial Feasibility, Analysis & Modelling</li>
              <li><%= icon('check','') %> Business Development Advisory</li>
            </ul>
          </span>
        </a>
      </div>
      <div class="clientbox">
        <%= image_tag "zabamba.png", alt: "Zabamba", style: "padding-top: 25px" %>
        <a href="http://www.zabamba.com/" target="_blank">
          <span class="client-content">
            <h3>Zabamba</h3>
            <ul>
              <li><%= icon('check','') %> Business Development Advisory</li>
              <li><%= icon('check','') %> Business Evaluation</li>
            </ul>
          </span>
        </a>
      </div>
      <div class="clientbox">
        <%= image_tag "synthesisgroup.png", alt: "Synthesis Group", style: "padding-top: 17px" %>
        <a href="www.synthesis.co.ke" target="_blank">
          <span class="client-content">
            <h3>Synthesis Architects</h3>
            <ul>
              <li><%= icon('check','') %> Strategic Planning & Advisory</li>
              <li><%= icon('check','') %> Business Development Advisory</li>
            </ul>
          </span>
        </a>
      </div>
      <div class="clientbox">
        <%= image_tag "sasema.png", alt: "Sasema Management Company" %>
        <a href="http://www.sasemagroup.com/" target="_blank">
          <span class="client-content">
            <h3>Sasema Management Co.</h3>
            <ul>
              <li><%= icon('check','') %> Strategic Planning & Advisory</li>
            </ul>
          </span>
        </a>
      </div>
    </div><!-- Wraps the Clientboxes -->
  </section> <!-- Wraps the Clients Content -->
</main><!-- Main Content for Clients -->

<!-- Contact Us -->
<!-- <div id="contact-anchor"></div> -->
<main class="contact-background" id="contact-anchor">
    <div id="contact-header">
      <%= image_tag "synthesis-logo.png", alt: "Synthesis Advisory Services, Ltd. Nairobi, Kenya" %>
      <h1><span style="border-bottom: 1px solid #03aa67;">Let's get started</span></h1>
    </div>
  <div id="contact-container">
    <p>
      Synthesis House<br>
      Ushirika Rd<br>
      Hardy-Karen<br>
      P.O. BOX 15266, 00509<br>
      Nairobi, Kenya
    </p>
    <p>
      <a href="mailto:serve@synthesisadvisory.com" style="color: #00a663; text-decoration: none;">serve@synthesisadvisory.com</a> | <a href="https://www.linkedin.com/company/synthesis-advisory-services?trk=top_nav_home" style="color: #00a663; text-decoration: none;" target="_blank">LinkedIn</a>
    </p>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.744997981759!2d36.718078899999995!3d-1.3290334000000037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1b3fedcf5cc5%3A0x5ddbd6524495210f!2sKaren+Plains+Arcade%2C+Karen+Plains+Rd%2C+Nairobi%2C+Kenya!5e0!3m2!1sen!2sus!4v1411671516734" width="400" height="300" frameborder="0" style="border:0"></iframe>
  </div><!-- Wraps the Contact Content -->
</main><!-- Main Content for Contact -->
<%= render 'layouts/footer' %>

<script>
  var sections = $('main')
    , nav = $('nav')
    , nav_height = 105;

  $(window).on('scroll', function () {
    var cur_pos = $(this).scrollTop() + 15;

    sections.each(function() {
      var top = $(this).offset().top - nav_height,
          bottom = top + $(this).outerHeight();

      if (cur_pos >= top && cur_pos <= bottom) {
        nav.find('a').removeClass('active');
        sections.removeClass('active');

        // $(this).addClass('active');
        nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
      }
    });
  });

  nav.find('a').on('click', function () {
    var $el = $(this)
      , id = $el.attr('href');

    $('html, body').animate({
      scrollTop: $(id).offset().top - nav_height
    }, 500);

    return false;
  });
  </script>