<div id="top"></div>
<main class="jumbotron-container" id="jumbotron-anchor">
  <div id="headline">
    <h1>"Ideas are <span class="green">tangible</span>, problems are <span class="green">opportunities</span>, success takes <span class="green">synthesis</span>."</h1>
    <p>As Synthesis Advisory Services, our number one priority is to cultivate our client relationships. You are important to us. Together we will elevate your business onto newer heights. </p>
    <br>
    <div class="center"><a href="#contact-anchor", id="cta">Let's Get Started</a></div>
  </div><!-- Tagline -->
</main> <!-- Homepage Image Container -->

<div id="service-nav"></div>
<div id="service-nav-container">
  <ul>
    <li class="active" id="1a">Corporate & Project Finance</li>
    <li id="2a">Business Strategy</li>
    <li id="3a">Start-up Advisory Services | Start™</li>
  </ul>
</div>


<main class="services-container" id="services-anchor">
  <div id="services-header">
    <%= image_tag "synthesis-logo.png", alt: "Synthesis Advisory Services, Ltd. Nairobi, Kenya", id: "services" %>
    <h1>Services</h1>
  </div>
  <!-- Corporate & Project Finance -->
  <section class="services-section" id="sec-corp">
    <div class="service-description-container">
      <h2><%= icon('pie-chart', '', class: "green") %> Corporate & Project Finance</h2>
      <br>
      <p>We provide top notch reports on your business's financial feasibility through indepth critical analyses and modelling. We offer detailed and cyrstal clear business valuations as well as comprehensive project appraisals.
        <br><br>
      Without understanding the monetary worth and potential behind your ventures, it can be hard to establish your leverage in future business negotiations. Let us take care of that for you so you can start owning every business meeting.</p>
      <br>
    </div> <!-- Description Container -->
    <div class="service-highlights-container clear">
      <h3>Service Highlights</h3>
      <ul>
        <%= icon('check-square','', class: 'green') %><li>Mathematical modelling based analyses</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Comprehensive and easy-to-follow appraisals</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Expert staff with years of experience</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Gain leverage by understanding your business</li>
      </ul> <!-- Service Highlight List  -->
    </div> <!-- Service Highlight Box -->
  </section><!-- Service Section #1 -->

  <!-- Business Strategy -->
  <section class="services-section hide" id="sec-business">
    <div class="service-description-container">
      <h2><%= icon('line-chart', '', class: "green") %> Business Strategy</h2>
      <br>
      <p>An idea without a plan is nothing but just a day dream. An idea with a strategy on the other hand, becomes a goal. Let us help you formulate the best plan that your business can execute to unlock its maximum potential.
        <br><br>
      With comprehensive sectorial research and industry analyses, we provide meticulous business and strategic planning.</p>
      <br><br>
    </div> <!-- Description Container -->
    <div class="service-highlights-container clear">
      <h3>Service Highlights</h3>
      <ul>
        <%= icon('check-square','', class: 'green') %><li>Sectorial Research</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Business & Strategic Planning</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Dedicated Business Development Advisory</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Hundreds of Case Studies</li>
      </ul> <!-- Service Highlight List  -->
    </div> <!-- Service Highlight Box -->
  </section><!-- Service Section #2 -->

  <!-- Start-up Advisory Services-->
  <section class="services-section hide" id="sec-startup">
    <div class="service-description-container">
      <h2><%= icon('paper-plane', '', class: "green") %> Start-up Advisory Services | Start™</h2>
      <br>
      <p>Whether you are a seasoned veteran or a first-timer when it comes to creating businesses, everyone could always use some help. We can help you understand the complicated laws and regulations and all the boring stuff, so that you can focus on the fun things behind creating a business.
        <br><br>
      We have a staff with years of experience that can provide strategic opportunity evaluation, administrative, regulatory, compliance, strategic, financial and operational advisory.</p>
      <br><br>
    </div> <!-- Description Container -->
    <div class="service-highlights-container clear">
      <h3>Service Highlights</h3>
      <ul>
        <%= icon('check-square','', class: 'green') %><li>Comprehensive Opportunity Valuation</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Administrative, Regulatory & Compliance</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Strategic, Financial & Operational Advisory</li>
        <br>
        <%= icon('check-square','', class: 'green') %><li>Valuation & Capital Sourcing</li>
      </ul> <!-- Service Highlight List  -->
    </div> <!-- Service Highlight Box -->
  </section><!-- Service Section #3 -->

    <div class="service-navi-container">
      <div class="nav-button", id="corporate">1</div><div class="nav-button", id="business">2</div><div class="nav-button", id="startup">3</div>
    </div> <!-- Service Toggle Buttons Container -->
</main> <!-- Main Content for Services Wrapper -->

<!-- Staff -->
<!-- <div id="about-anchor"></div> -->
<main class="about-background" id="about-anchor">
  <section id="about-container">
    <div id="staff-header">
      <%= image_tag "synthesis-logo.png", alt: "Synthesis Advisory Services, Ltd. Nairobi, Kenya" %>
      <h1>About Us</h1>
      <p>As Synthesis Advisory Services, we believe that ideas are tangible, problems are opportunities, and success takes a synthesis of passion, understanding, and expertise to help you execute ideas and create solutions.</p>
    </div>
    <br>
    <div id="staff-header-body">
      <h2 id="passion" class="green">Passion</h2>
      <h2>/</h2>
      <h2 id="understanding">Understanding</h2>
      <h2>/</h2>
      <h2 id="expertise">Expertise</h2>
    </div>
    <br><br><br>
    <div class="arrow_box_1" id="arrowbox1">
      <h3>"We love what we do and are driven to succeed."</h3>
    </div>
    <div class="arrow_box_2 hide" id="arrowbox2">
      <h3>"We listen, ask questions, and listen some more."</h3>
    </div>
    <div class="arrow_box_3 hide" id="arrowbox3">
      <h3>"We combine your expertise with our own expertise, understanding, and passion to support decision making, create solutions, and build businesses."</h3>
    </div>

    <div class="employee">
      <%= image_tag 'LamusiaAnzaya.jpg', alt: "Lamusia Anzaya, Co-Founder & Lead Financial Consultant" %>
      <h2>Lamusia Anzaya</h2>
      <h3>Co-Founder & Lead Financial Consultant</h3>
      <br>
      <p>Lamusia has professional and academic exposure within the South-Pacific, European and African markets, he brings to the SIM team experience initiating and supporting the growth of businesses across the FMCG, QSR, Logistics, Property, Financial Services and Online sectors. Lamusia has passed Level II of the Chartered Financial Analyst CFA® Program and holds a BBA in Operations & Management from the Hong Kong University of Science and Technology.
        <br><br>
      Lamusia has an unwavering passion for frontier markets that create long-term sustainable value to all stakeholders.
        <br>
        <span style="color: #00a663;">lamusia@synthesisadvisory.com</span>
      </p>
    </div><!-- Lamusia Anzaya -->

    <hr>

    <div class="employee">
      <%= image_tag 'LamusiaAnzaya.jpg', alt: "Lamusia Anzaya, Co-Founder & Lead Financial Consultant", style: "float: right" %>
      <h2>Lamusia Anzaya</h2>
      <h3>Co-Founder & Lead Financial Consultant</h3>
      <br>
      <p>Lamusia has professional and academic exposure within the South-Pacific, European and African markets, he brings to the SIM team experience initiating and supporting the growth of businesses across the FMCG, QSR, Logistics, Property, Financial Services and Online sectors. Lamusia has passed Level II of the Chartered Financial Analyst CFA® Program and holds a BBA in Operations & Management from the Hong Kong University of Science and Technology.
        <br><br>
      Lamusia has an unwavering passion for frontier markets that create long-term sustainable value to all stakeholders.
        <br>
        <span style="color: #00a663;">lamusia@synthesisadvisory.com</span>
      </p>
    </div><!-- Lamusia Anzaya -->
  </section><!-- Wraps the Clients Content -->
</main><!-- Main Content for About -->

<!-- Clients -->
<!-- <div id="clients-anchor"></div> -->
<main class="clients-background" id="clients-anchor">
  <section id="clients-container">
    <h1>Our Clients</h1>
    <h2><%= icon('angle-double-down', '', class: "green") %></h2>
    <br><br>
    <div id="clientbox-container">
      <div class="clientbox">
        <%= image_tag "sasema.png", alt: "Sasema Management Company" %>
        <span class="client-content">
          <h3>Sasema Management Co.</h3>
          <ul>
            <li><%= icon('check','') %> Strategic Planning & Advisory</li>
            <li><%= icon('check','') %> Financial Analysis, Modelling & Forecasting</li>
            <li><%= icon('check','') %> Business Evaluation</li>
          </ul>
        </span>
      </div>
      <div class="clientbox">
        <%= image_tag "reach-logistics.png", alt: "Reach Logistics" %>
        <span class="client-content">
          <h3>Reach Logistics</h3>
          <ul>
            <li><%= icon('check','') %> Strategic Opportunity Evaluation</li>
            <li><%= icon('check','') %> Financial Analysis, Modelling & Forecasting</li>
            <li><%= icon('check','') %> Business & Strategic Planning</li>
          </ul>
        </span>
      </div>
      <div class="clientbox">
        <%= image_tag "kfc.png", alt: "KFC East Africa" %>
        <span class="client-content">
          <h3>KFC Franchisee East Africa</h3>
          <ul>
            <li><%= icon('check','') %> Business & Strategic Planning</li>
            <li><%= icon('check','') %> Financial Analysis, Modelling & Forecasting</li>
            <li><%= icon('check','') %> Business Evaluation</li>
          </ul>
        </span>
      </div>
      <div class="clientbox">
        <%= image_tag "sis.png", alt: "SIS Project Management" %>
        <span class="client-content">
          <h3>SIS Project Management</h3>
          <ul>
            <li><%= icon('check','') %> Business & Strategic Planning</li>
            <li><%= icon('check','') %> Financial Analysis, Modelling & Forecasting</li>
            <li><%= icon('check','') %> Business Evaluation</li>
          </ul>
        </span>
      </div>
      <div class="clientbox">
        <%= image_tag "zabamba.png", alt: "Zabamba", style: "padding-top: 25px" %>
        <span class="client-content">
          <h3>Zabamba</h3>
          <ul>
            <li><%= icon('check','') %> Business & Strategic Planning</li>
            <li><%= icon('check','') %> Financial Analysis, Modelling & Forecasting</li>
            <li><%= icon('check','') %> Business Evaluation</li>
          </ul>
        </span>
      </div>
      <div class="clientbox">
        <%= image_tag "synthesisgroup.png", alt: "Synthesis Group", style: "padding-top: 17px" %>
        <span class="client-content">
          <h3>Synthesis Group</h3>
          <ul>
            <li><%= icon('check','') %> Business & Strategic Planning</li>
            <li><%= icon('check','') %> Financial Analysis, Modelling & Forecasting</li>
            <li><%= icon('check','') %> Business Evaluation</li>
          </ul>
        </span>
      </div>
    </div><!-- Wraps the Clientboxes -->
  </section> <!-- Wraps the Clients Content -->
</main><!-- Main Content for Clients -->

<!-- Contact Us -->
<!-- <div id="contact-anchor"></div> -->
<main class="contact-background" id="contact-anchor">
    <div id="contact-header">
      <%= image_tag "synthesis-logo.png", alt: "Synthesis Advisory Services, Ltd. Nairobi, Kenya" %>
      <h1><span style="border-bottom: 1px solid #03aa67;">Let's get started</span></h1>
      <p>Reach us today and elevate your business.</p>
    </div>
  <div id="contact-container">
    <p>
      Synthesis Advisory Services Ltd.<br>
      2nd Floor Wing C, Karen Plains Arcade,<br>
      Karen Plains Road,<br>
      P.O. BOX 15266, 00509<br>
      Nairobi, Kenya
    </p>
    <p>
      <span style="color: #00a663;">serve@synthesisadvisory.com</span>
    </p>
  </div><!-- Wraps the Contact Content -->
</main><!-- Main Content for Contact -->
<%= render 'layouts/footer' %>

<script>
  var sections = $('main')
    , nav = $('nav')
    , nav_height = 105;

  $(window).on('scroll', function () {
    var cur_pos = $(this).scrollTop() + 15;

    sections.each(function() {
      var top = $(this).offset().top - nav_height,
          bottom = top + $(this).outerHeight();

      if (cur_pos >= top && cur_pos <= bottom) {
        nav.find('a').removeClass('active');
        sections.removeClass('active');

        // $(this).addClass('active');
        nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
      }
    });
  });

  nav.find('a').on('click', function () {
    var $el = $(this)
      , id = $el.attr('href');

    $('html, body').animate({
      scrollTop: $(id).offset().top - nav_height
    }, 500);

    return false;
  });
  </script>