<header>
  <div class="wrapper">
    <div class="logo">
      <%= link_to (image_tag "synthesis-logo.png", alt: "Synthesis Advisory Services, Ltd., Nairobi, Kenya"), anchor: "top" %>
      <a href="#top"><h1><span class="green">S</span>YNTHESIS <span class="green">A</span>DVISORY <span class="green">S</span>ERVICES</h1></a>
    </div><!-- Logo -->
      <nav id="navigation">
        <ul>
          <li><%= link_to 'Services', anchor: "services-anchor" %></li>
          <li><%= link_to 'About', anchor: "about-anchor" %></li>
          <li><%= link_to 'Clients', anchor: "clients-anchor" %></li>
          <li><%= link_to 'Contact', anchor: "contact-anchor" %></li>
        </ul>
      </nav><!-- Navigation Links -->
  </div><!-- Container for Entire Navbar -->
</header>
