<header>
  <div class="wrapper">
    <div id="logo">
      <%= link_to (image_tag "synthesis-logo.png", alt: "Synthesis Advisory Services, Ltd., Nairobi, Kenya"), href: "#" %>
      <h1><span class="green">S</span>YNTHESIS <span class="green">A</span>DVISORY <span class="green">S</span>ERVICES</h1>
    </div><!-- Logo -->
    <nav>
      <div id="navigation">
        <ul>
          <li><%= link_to 'Services', href: "#" %></li>
          <li><%= link_to 'Clients', href: "#" %></li>
          <li><%= link_to 'Staff', href: "#" %></li>
          <li><%= link_to 'Contact', href: "#" %></li>
        </ul>
      </div><!-- Navigation Links -->
    </nav>
  </div><!-- Container for Entire Navbar -->
</header>
